<% @posts.each do |post| %>
  <%= render partial: 'authors/author', locals: {post_author: post.author} %>
<%# <ul> %>
<%#   <li> <%= post.author.name %1></li> %>
<%#   <li> <%= post.author.hometown %1></li> %>
<%# </ul> %>
  <%= post.title %>
  <%= post.content %>
<% end %>
